<!-- navbar.component.html -->
<nav class="bg-blue-600 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-white font-bold text-xl" href="#">Excellence Task</a>
    <ul class="flex space-x-4">
      <li><a class="text-white" href="inicio" routerLink="/">Inicio</a></li>
      <li><a class="text-white" href="proyectos" routerLink="/proyectos">Proyectos</a></li>
      <li><a class="text-white" href="tareas" routerLink="/tareas">Tareas</a></li>
      
      <!-- Mostrar solo si el usuario no está autenticado -->
      <li *ngIf="!isLoggedIn">
        <a class="text-white" href="login" routerLink="/login">Iniciar Sesión</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a class="text-white" href="register" routerLink="/register">Registrarse</a>
      </li>

      <!-- Mostrar solo si el usuario está autenticado -->
      <li *ngIf="isLoggedIn">
        <button (click)="logout()" class="text-white">Cerrar sesión</button>
      </li>
    </ul>
  </div>
</nav>
